header{
    background: gray;
    text-align:center;
    color: 'green';
    margin-bottom: 1em;
}
header .intro-text{
    margin-top:3.5em;
    margin-bottom:3.5em;
    color:#fff;
}

header .intro-heading{
  font-family:"Roboto",sans-serif;
  font-weight:500;
  font-size: 6em;
}



#app{
   max-width:50em;
   margin:0 auto;
}


.input-group{
    margin: 1em;
}
