<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Filter plugins..." ng-model="filter.term" aria-describedby="plug-addon">
            <span id="plug-addon" class="input-group-addon glyphicon glyphicon-search" aria-hidden="true"></span>
        </div>
        <div class="filter-group">
       	    <form class="form-inline filter-form" role="form">
                <div class="form-group">
                    <label>Project:</label>
                    <select name="projectSelect" required="required" class="form-control" ng-model="filter.gmod">
                        <option value="">All</option>
                        <option value="Apollo">Apollo</option>
                        <option value="GBrowse">GBrowse</option>
                        <option value="JBrowse">JBrowse</option>
                        <option value="Tripal">Tripal</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Sort By:</label>
                    <select name="projectSelect" required="required" class="form-control" ng-model="sortKey">
                        <option value="name">Name</option>
                        <option value="author">Author</option>
                        <option value="added">Date added</option>
                        <option value="license">License</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Order:</label>
                    <select name="orderSelect" required="required" class="form-control" ng-model="order">
                        <option value= '+' selected>Ascending</option>
                        <option value= '-'>Descending</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Plugins per page:</label>
                    <input type="text" class="form-control per-page-control" placeholder="5" ng-model="filter.perPage" >
                </div>
            </form>
        </div>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div class="plugin-list">
    <div class="list-group-item" dir-paginate="plugin in plugins |orderBy:[order+sortKey,'+name']|
        filter:filter.gmod:strict:plugin.gmodProject | filter:filter.term |itemsPerPage:filter.perPage as results" current-page="currentPage" pagination-id="plugins">
         <div id="plugin-{{plugin.id}}">
             <div class="row plugin-title">
                <div class="col-xs-9 plugin-name">
                    <a href="{{plugin.location}}">
                    {{ plugin.name }}
                    </a>
                </div>
                <div class="col-xs-3 plugin-project">
                    {{ plugin.gmodProject }}
                </div>
             </div>
            <div>
                <div class="row" ng-if="!plugin.image">
                    <div class="col-xs-12">
                        <blockquote>{{plugin.description}}</blockquote>
                        <div class="list-unstyled">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <span>{{plugin.author}}</span>
                            <span>&nbsp;</span>
                            <span ng-if="plugin.license" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                            <span ng-if="plugin.license" ng-bind-html="plugin.license | spdx_formatter"></span>
                            <span>&nbsp;</span>
                            <span ng-if="plugin.demo" class="glyphicon glyphicon-link" aria-hidden="true"></span>
                            <span ng-if="plugin.demo">
                                <a href="demos/JBrowse-1.12.1/?data=../{{ plugin.demo }}">
                                    Live Demo
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="plugin.image">
                    <div class="col-xs-9">
                        <blockquote>{{plugin.description}}</blockquote>
                        <div class="list-unstyled">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <span>{{plugin.author}}</span>
                            <span>&nbsp;</span>
                            <span ng-if="plugin.license" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                            <span ng-if="plugin.license" ng-bind-html="plugin.license | spdx_formatter"></span>
                            <span>&nbsp;</span>
                            <span ng-if="plugin.demo" class="glyphicon glyphicon-link" aria-hidden="true"></span>
                            <span ng-if="plugin.demo">
                                <a href="demos/JBrowse-1.12.1/?data=../{{ plugin.demo }}">
                                    Live Demo
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <img ng-src="img/{{ plugin.image }}" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="results.length < 1" class="alert alert-info list-group-item" role="alert">
        <h3> There are currently no plugins that match your filter.</h3>
    </div>
</div>
<div class="page-div">
    <dir-pagination-controls
       pagination-id="plugins"
       max-size="10"
       direction-links="true"
	   on-page-change="pageChangeHandler(newPageNumber)"
       boundary-links="true" autohide>
    </dir-pagination-controls>
</div>
