<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Filter plugins..." ng-model="plug.filter.term" aria-describedby="plug-addon">
            <span id="plug-addon" class="input-group-addon glyphicon glyphicon-search" aria-hidden="true"></span>
        </div>
        <div class="filter-group">
       	    <form class="form-inline filter-form" role="form">
                <div class="form-group">
                    <label>Project:</label>
                    <select name="projectSelect" required="required" class="form-control" ng-model="plug.filter.gmod">
                        <option value="">All</option>
                        <option value="Apollo">Apollo</option>
                        <option value="GBrowse">GBrowse</option>
                        <option value="JBrowse">JBrowse</option>
                        <option value="Tripal">Tripal</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Sort By:</label>
                    <select name="projectSelect" required="required" class="form-control" ng-model="plug.sortKey">
                        <option value="name">Name</option>
                        <option value="author">Author</option>
                        <option value="added">Date added</option>
                        <option value="license">License</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Order:</label>
                    <select name="orderSelect" required="required" class="form-control" ng-model="plug.order">
                        <option value= '+' selected>Ascending</option>
                        <option value= '-'>Descending</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Plugins per page:</label>
                    <input type="text" class="form-control per-page-control" placeholder="5" ng-model="plug.filter.perPage" >
                </div>
            </form>
        </div>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div class="plugin-list">
    <div class="list-group-item" dir-paginate="plugin in plug.plugins |orderBy:[plug.order+plug.sortKey,'+name']|
        filter:plug.filter.gmod:strict:plugin.gmodProject | filter:plug.filter.term |itemsPerPage:plug.filter.perPage as results" pagination-id="plugins">
         <div id={{"plugin-"+plugin.id}}>
            <h3> {{plugin.name}} <em class="pull-right">{{plugin.gmodProject}}</em></h3>
            <div>
                <h4>Description</h4>
                <blockquote>{{plugin.description}}</blockquote>
                <h4>Specs</h4>
                <ul class="list-unstyled">
                <li>Author: {{plugin.author}}</li>
                <li>Location: <a href={{plugin.location}}>{{plugin.location}}</a> </li>
                <li>Date added: {{plugin.added | date:'yyyy-MM-dd'}} </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-if="results.length < 1" class="alert alert-info list-group-item" role="alert">
        <h3> There are currently no plugins that match your filter.</h3>
    </div>
</div>
<div class="page-div">
    <dir-pagination-controls
       pagination-id="plugins"
       max-size="5"
       direction-links="true"
       boundary-links="true" autohide>
    </dir-pagination-controls>
</div>
