<div class="list-group-item">

    <div ng-show="pform.testStatus(1)" class="alert alert-success alert-dismissible" role="alert">
	<button type="button" class="close" data.dismiss="alert" aria-label="close" ng-click="pform.setStatus(0)">
        <span aria-hidden="true">&times</span></button>
	You have successfully added {{pform.name}}.
    </div> 

    <div ng-show="pform.testStatus(-1)" class="alert alert-danger alert-dismissible" role="alert">
	<button type="button" class="close" data.dismiss="alert" aria-label="close" ng-click="pform.setStatus(0)">
        <span aria-hidden="true">&times</span></button>
	There was an error adding your plugin, check that all the required fields are filled in and that there isn't a copy waiting for approval.
    </div> 


    <form role="form" data-toggle="validator" name="pform.addForm">
    
        <div id="name-group" class="form-group">
            <label>Name</label>
            <input type="text" required="required" name="name" class="form-control" placeholder="Enter plugin name"  ng-model="pform.formData.name">
        </div>
        
        <div id="project-group" class="form-group">
            <label>GMOD Project</label></br>
            <select name="projectSelect" required="required" class="form-control" ng-model="pform.formData.gmodProject">
            <option value="">---Please Select ---</option>
	    <option value="Apollo">Apollo</option>
            <option value="GBrowse">GBrowse</option>
            <option value="JBrowse">JBrowse</option>
	    <option value="Tripal">Tripal</option>
    	</select>
        </div>
    
        <div id="description-group" class="form-group">
            <label>Description</label>
            <input type="text" required="required" name="description" class="form-control" placeholder="Enter description of plugin"ng-model="pform.formData.description">
        </div>
    
        <div id="author-group" class="form-group">
            <label>Author</label>
            <input type="text" required="required" name="author" class="form-control" placeholder="Enter primary author of plugin" ng-model="pform.formData.author">
        </div>
    
        <div id="location-group" class="form-group">
            <label>Location</label>
            <input type="text" required="required" name="location" class="form-control" placeholder="https://github.com/" ng-model="pform.formData.location">
        </div>
    
        <div id="version-group" class="form-group">
            <label>Version</label>
            <input type="text" name="version" class="form-control" placeholder="[Optional] v1.0.0" ng-model="pform.formData.version">
        </div>
    
        <div id="license-group" class="form-group">
            <label>License</label>
            <input type="text" name="license" class="form-control" placeholder="[Optional] BSD-2-Clause" ng-model="pform.formData.license">
        </div>
       
         <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="pform.submitPlugin()">
            <span class="glyphicon glyphicon-share"></span> Submit 
        </button>
    </form>

</div>
