<section>
    <ul class="nav nav-pills nav-justified tab-nav">
        <li ng-class="{active:tab.isSet(1)}">
	    <a href ng-click="tab.setTab(1)"> Plugins </a>
	</li>
        <li ng-class="{active:tab.isSet(2)}">
	    <a href ng-click="tab.setTab(2)">Add plugin </a>
	</li>
        <li ng-class="{active:tab.isSet(3)}">
	    <a href ng-click="tab.setTab(3); pend.get()"> Pending plugins </a>
	</li>
    </ul>
    <plugin-list ng-show="tab.isSet(1)" ></plugin-list>
    <plugin-submit ng-show="tab.isSet(2)"></plugin-submit>
    <pending-list ng-show="tab.isSet(3)" ></pending-list>

</section>
