<!DOCTYPE html>
<html>
	<head>
		<title> Cvit Test </title>
		<link rel="icon" type="image/png" href="static/cvitjs/img/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="static/cvitjs/img/favicon-16x16.png" sizes="16x16" />	
		<link rel="stylesheet" href="static/cvitjs/js/lib/bootstrap/css/bootstrap.min.css" />
		<!-- CViTjs uses requireJS, so all that is needed is this single line   -->
		<!-- to include the scritps. require-config sets up the environment and -->
		<!-- then calls js/main.js, providing a single entry point into CViTjs  -->

		<script data-main="static/cvitjs/js/lib/require/require-config" src="static/cvitjs/js/lib/require/require.js"></script>
	</head>
	<body>
			<div id="title-div"><h1> CViTjs Test <h1></div>
			<div id="cvit-div">
					<!-- canvas id="cvit-canvas" style="background-color:#6f6f6f;" resize></canvas> -->
		</div>
	</body>
</html>
