<html lang="en" ng-app="plugD">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<sctipt src="public/pluginapp/app.js"></script>
</head>
<body >
    <h1> {{"bob"}}<h1>
</body>
</html>
